#Middle{
}

.centered{
  text-align:center;
}

.centered h1{
  margin:5rem;
}

.bt-margin{
  margin-top:2rem;
}

.flex-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin:2rem;
}